
/* CSS RESET */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ---[ Header ]--- */
header{
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 16px 40px 0px;
  position: fixed;
}

/* ---[ BODY ] */                       
body{
  font-family: 'M PLUS 1', sans-serif;
  font-size: 14px;
  max-width: 140%;
}

/* ---[ NAV ]---  */

header nav a{
  text-decoration: none;
  color: #fff;
}

a.navbar_btn{
  padding: 0 16px;
}

a.navbar_btn:hover {
  border-radius: 5px;
  background-color: rgba(200, 200, 200, 0.4);
}

/*---------- [Left (Nav)] -------- */

nav.left{
  margin-left: 10px;
  padding: 0 10px;
}

/*  (Logo) */

img.logo{
  height: 12px;
  width: 120px;
  filter: brightness(1) invert(1);
  /* padding: 0 16px; */
}

/*---------- [Center (Nav)] -------- */

nav.center{
  padding: 0px 30px 0 60px;
  margin-left: 201px;  
}


/*--------- [Right (Nav)] ---------*/

nav.right{
  padding-left: 150px;
  margin: 0 18px;
}

/* -------------------[ Sections ]--------------*/

/* --- (PAGE 1) --- */

.page-1{
  background-image: url(/images/Model-3-Main-Hero-Section-LHD.jpeg);
  background-size:cover;
  height: 100%;
}

div.box_one{
  text-align: center;
  padding-top: 120px;
}

h1{
  font-size: 39px;
  color:#fff;
}

.h1-btn{
  text-decoration: underline;
  padding-top: 1px;
  padding-bottom: 2px;;
  font-weight: none;
  color: white;
  text-align: center;
}

.h1-btn:hover{
  cursor: pointer;
}

/*  ----- [Bottom PAGE 1]  -----  */

section.bottom_page-1{
  font-size: 30px;
  text-align: left;
  margin-left: 380px;
  margin-top: 510px;
}

section.bottom_box_one p{
  font-size: 12px;
}

.div-one{
  position: relative; 
  width: 20px;
  height: 20px;
}
.div-two{
  position: absolute; 
  width: 10px;
  height: 10px;
  z-index: 3; 
  top: 762px;
  left: 385px;
}

.div-three{
  position: relative;
  width: 15px;
  height: 15px;
  z-index: 2; 
  bottom: 20px;
  right: 0px;
  left: 18px; 
}

div.div-two img{
  opacity: 0.2;
}