
/* CSS RESET */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ---[ Header ]--- */
header{
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 16px 40px 0px;
  position: fixed;
  z-index: 10;
}

/* ---[ BODY ]---*/                       
body{
  font-family: 'M PLUS 1', sans-serif;
  font-size: 14px;
  max-width: 140%;
}

/* ---[ NAV ]---  */

header nav a{
  text-decoration: none;
  color: #fff;
}

a.navbar_btn{
  padding: 0 16px;
}

a.navbar_btn:hover {
  border-radius: 5px;
  background-color: rgba(200, 200, 200, 0.4);
}

/*---------- [Left (Nav)] -------- */

nav.left{
  margin-left: 10px;
  padding: 0 10px;
}

/*  (Logo) */

img.logo{
  height: 12px;
  width: 120px;
  filter: brightness(1) invert(1);
  /* padding: 0 16px; */
}

/*---------- [Center (Nav)] -------- */

nav.center{
  padding: 0px 30px 0 60px;
  margin-left: 201px;  
}

/*--------- [Right (Nav)] ---------*/

nav.right{
  padding-left: 150px;
  margin: 0 18px;
}

/* -------------------[[ Sections ]]--------------*/

/* --- (PAGE 1) --- */
/* ---- [Center] ---- */
.page-1{
  background-image: url(/images/Model-3-Main-Hero-Section-LHD.jpeg);
  background-size:cover;
  height: 100%;
  position: static;
}
div.box_one{
  text-align: center;
  padding-top: 120px;
  position: relative;
  height: 0;
  z-index: 0;
  top: 120px;
}
h1{
  font-size: 39px;
  color:#fff;
  /* position: relative;
  top: 120px; */
}
.h1-btn{
  text-decoration: underline;
  padding-top: 1px;
  padding-bottom: 2px;;
  font-weight: none;
  color: white;
  text-align: center;
}
.h1-btn:hover{
  cursor: pointer;
}
/* ----- [Bottom] ----- */
section.bottom_page-1{
  /* border: solid mediumspringgreen; */
  position: relative;
  width: 800px;
  height: 300px;
  bottom: 70px;
  right: 30px;
  font-size: 30px;
  text-align: left;
  margin-left: 380px;
  margin-top: 510px;
}
/* * * Bottom box 1 * * */
div.bottom_box_one{
  padding-bottom: 35px;
  padding-right: 0px;
  position: relative;
  top: 160px;
  left: 50px;
  width: 800px;
  height: 200px;
  z-index: 0;
  /* border: solid red; */
}
div.bottom_box_one p{
  padding-top: 0px;
  padding-left: 20px;
  font-size: 12px;
  color: white;
  /* border: solid rgb(177, 27, 147); */
  width: 16%;
  position: absolute;
  top: 50px;
  left: 8px;
  z-index: 1;
}

/* .speedmeter{
  position: relative;
  border: solid aqua;
  width: 40px;
  height: 40px;
  top: 40px;

} */

.div-one{
  position: absolute; 
  width: 20px;
  height: 20px;
  left: 10px;
  top: 10px;
  z-index: 1;
}
.div-two{
  position: absolute; 
  width: 10px;
  height: 10px;
  z-index: 1; 
  left: 15px;
  bottom: 180px;
}
div.div-two img{
  opacity: 0.2;
}
.div-three{
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 1; 
  bottom: 174px;
  left: 18px; 
}
/**** ANIMATION Arrow ***/
.animate  {
  animation-duration: 1s;
  animation-fill-mode: both;
 }
 .animate--slow{         
  animation-duration: 0.8s; 
  }
  .animate--infinite{
  animation-iteration-count: 1;
  }
img#test:hover{
  animation-name: rotate;
  animation-timing-function: linear;
  transform-origin: center right;
  transform-style: preserve-2D;
 }
@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(180deg);
  }
} 
/* * *--------------------- Bottom box 2 -------* * */
div.bottom_box_two{
  width: 400px;
  height: 100px;
  position: relative;
  bottom: 28px;
  left: 220px;
  /* border: solid rgb(58, 141, 193); */
  z-index: 1;

}
div.header-box2{
  position: absolute;
  left: 10px;
  width: 100px;
  height: 100px;
  /* border: solid black; */
  z-index: 2;
}
div.header-box2 h1{
  width: 100px;
  height: 30px;
  font-size: 28px;
  /* border: solid rgb(29, 136, 48); */
}

div.header-box2 p{
  font-size: 12px;
  color: white;
  /* border: solid rgb(177, 27, 147); */
  padding-top: 9px;
  width: 130px;
  height: 20px;

}

section.bottom_box_three .header-box3{
  /* padding-bottom: 35px; */
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 130px;
  left: 420px;
  /* border: solid rgb(0, 0, 0); */
  z-index: 1;
}

section.bottom_box_three .header-box3 h1{
  font-size: 28px;
}

section.bottom_box_three .header-box3 p{
  color: white;
  font-size: 12px;
}

div.box4{
  position: relative;
  bottom: 226px;
  z-index: 4;
  left: 560px;
  width: 50px;
}

.buy-btn{
  background-color: transparent;
  border: solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  width: 200px;
  height: 54px;
}

.buy-btn:hover{
  background: white;
  color: black;
  transition: smooth;
  cursor: pointer;
}

div.comment-dots{
  border: solid mediumaquamarine;
  position: absolute;
  z-index: 20;
}

.arrow{
  box-sizing: border-box;
  height: 15px;
  width: 15px;
  border-style: solid;
  border-color: #696c74;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  position: relative;
  left: 760px;
  bottom: 20px;
}

.arrow:hover {
  border-bottom-width: 3px;
  border-right-width: 3px;
}

.end-of-page1{
  position: relative;
  z-index: 0;
  bottom: 0px;
}

/* PAGE 2 */
section.page-2{
  background-image: url(/images/model-3-hero-a-desktop1.jfif) ;
  background-size: cover;
  /* background-position-x:  -6em;
  background-position-y: -2em;  */
  background-size: 1100px;
  background-repeat: no-repeat; 
  height: 100vh;
}
section h2{
  padding-left: 20px;
}

div.box_two{
  /* border: solid mediumseagreen; */
  width: 400px;
  height: 600px;
  position: relative;
  left: 1100px;
  top: 60px;
}

section.page-2 div.box-1{
  /* border: solid blue;
  background-color: white; */
  position: absolute;
  width: 330px;
  height: 300px;
  left: 40px;
}
section.page-2 div.box-1 h1{
  position: absolute;
  left: 20px;
  width: 3400;
  color: #171a20;
  font-size: 28px;
  
}
section.page-2 div.box-1 h2{
  font-size: 18px;
  font-weight: normal;
}

section.page-2 div.box-2{
  /* border: solid blue;
  background-color: white; */
  position: absolute;
  width: 320px;
  height: 300px;
  left: 40px;
  bottom: 210px;
  padding-left: 20px;
}

div.btn-box{
  position: relative;
  left: 1100px;
  /* border: solid pink; */
  width: 400px;
  bottom: 40px;
}

.buy-btn2{
  position: absolute;
  left: 190px;
  background-color: transparent;
  border: solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  width: 200px;
  height: 54px;
}

.plus-btn{
  position: absolute;
  left: 40px;
  top: 8px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.buy-btn2:hover{
  background: rgb(8, 8, 8);
  color: rgb(255, 255, 255);
  transition: smooth;
  cursor: pointer;
}
.plus-btn img{
  border-radius: 50%;
  border: solid black;
  vertical-align: middle;
}
.plus-btn img:hover{
  background-color: black;
  transition: smooth;
}

/* .plus-btn h3{
  text-decoration: none;
  position: absolute;
  left: 20px;
} */



/* PAGE 3 */
.page-3{
  background-image: url(/images/Model-3-Performance-Hero-Desktop-LHD3.jfif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  
}

section.page-3 div.p3-box-1{
  border: solid mediumspringgreen;
  position: relative;
  top: 500px;
  left: 400px;
  width: 800px;
  height: 100px;
}

section.page-3 div.p3-box-2{
  border: solid palevioletred;
  position: relative;
  width: 800px;
  height: 140px;
  top: 700px;
  left: 200px;
}
section.page-3 div.p3-box-2 h3 {
  color: black;
  padding-left: 20px;
  font-size: 16px;
  font-weight: normal;
}
section.page-3 div.p3-box-2 h2 {
  color: black;
  font-weight: bold;
  font-size: 26px;
}

