
/* CSS RESET */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ---[ Header ]--- */
header{
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 8px 40px;
  position: fixed;
}

/* ---[ BODY ] */                       
body{
  font-family: 'M PLUS 1', sans-serif;
  font-size: 14px;
  max-width: 140%;
}

/*  (Logo) */

a.logo{
  padding: 0 0 0 32px;
}

img.logo{
  height: 12px;
  width: 120px;
  filter: brightness(1) invert(1);
  padding: 0 16px;

}

/*  ---[ NAV ]---  */

header a{
  color: #fff;
}

header nav a{
  text-decoration: none;
}

header nav.center{
  text-align: center;
}

/*---------- [Center (Nav)] -------- */

nav.center{
  padding-left: 201px; 
}

span.center-btns{
  padding: 0 30px;
}

a.nav-btn-center
{
  padding: 0 16px;
}

/*--------- [Right (Nav)] ---------*/

nav.right{
  padding-left: 150px;
  margin: 0 18px;
}

.nav-btn-right{
  padding: 16px;
}

/* Nav Btn */

a.nav-btn:hover {
  border-radius: 5px;
  background-color: rgba(200, 200, 200, 0.4);
}

.nav-btn{
  margin: 6px;
}




/* -------------------[ Sections ]--------------*/

/* --- (PAGE 1) --- */

.page-1{
  background-image: url(/images/Model-3-Main-Hero-Section-LHD.jpeg);
  background-size:cover;
  height: 100vh;
}

div.box_one{
  text-align: center;
  padding-top: 120px;
}

h1{
  font-size: 39px;
  color:#fff;
}

.h1-btn{
  text-decoration: underline;
  padding-top: 1px;
  padding-bottom: 2px;;
  font-weight: none;
  color: white;
  text-align: center;
}

.h1-btn:hover{
  cursor: pointer;
}

/*    */
